[submodule "SayCV_Cadence_SkillMngt"]
	path = SayCV_Cadence_SkillMngt
	url = https://SayCV@github.com/SayCV/SayCV_Cadence_SkillMngt.git
[submodule "SayCV_OpenVPN"]
	path = SayCV_OpenVPN
	url = https://SayCV@github.com/SayCV/SayCV_OpenVPN.git
[submodule "SayCV_MXE"]
	path = SayCV_MXE
	url = https://SayCV@github.com/SayCV/SayCV_MXE.git
[submodule "SayCV_Go"]
	path = SayCV_Go
	url = https://SayCV@github.com/SayCV/SayCV_Go.git
