[submodule "SayCV_Cadence_SkillMngt"]
	path = SayCV_Cadence_SkillMngt
	url = https://SayCV@github.com/SayCV/SayCV_Cadence_SkillMngt.git
[submodule "SayCV_OpenVPN"]
	path = SayCV_OpenVPN
	url = https://SayCV@github.com/SayCV/SayCV_OpenVPN.git
[submodule "SayCV_MXE"]
	path = SayCV_MXE
	url = https://SayCV@github.com/SayCV/SayCV_MXE.git
[submodule "SayCV_Go"]
	path = SayCV_Go
	url = https://SayCV@github.com/SayCV/SayCV_Go.git
[submodule "SayCV_SmartHosts"]
	path = SayCV_SmartHosts
	url = https://SayCV@github.com/SayCV/smarthosts.git
[submodule "SayCV_Tools_SourceInsight"]
	path = SayCV_Tools_SourceInsight
	url = https://SayCV@github.com/SayCV/SayCV_Tools_SourceInsight.git
[submodule "SayCV_Tools_UltraEdit"]
	path = SayCV_Tools_UltraEdit
	url = https://SayCV@github.com/SayCV/SayCV_Tools_UltraEdit.git
[submodule "SayCV_Tools_AndroidStudio"]
	path = SayCV_Tools_AndroidStudio
	url = https://SayCV@github.com/SayCV/SayCV_Tools_AndroidStudio.git
[submodule "Smarthosts-for-Android"]
	path = Smarthosts-for-Android
	url = https://sayCV@github.com/SayCV/Smarthosts-for-Android.git
